<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso Legal</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="images.jpeg">
</head>
<body>
    <header>
        <div class="container">
            <h1>Aviso Legal</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/productos.html">Productos</a></li>
                    <li><a href="../views/presupuesto-1.html">Presupuestos</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            <section>
                <h2>Información Legal</h2>
                <p>
                    Este sitio web y todo su contenido, incluyendo textos, imágenes, gráficos y cualquier otro material, es propiedad de Automóviles de Ensueño. Está prohibida la reproducción, distribución, o uso de cualquier contenido sin el consentimiento explícito del propietario.
                </p>
                <h2>Abusos Legales</h2>
                <p>
                    En Automóviles de Ensueño, nos comprometemos a actuar de manera ética y legal en todas nuestras operaciones. No toleramos ningún tipo de abuso legal, incluyendo pero no limitado a, la explotación de lagunas legales, el uso indebido de información confidencial o la manipulación de procesos judiciales para obtener ventajas injustas. Fomentamos un entorno de transparencia y respeto a la ley, y actuaremos con firmeza contra cualquier comportamiento que contradiga estos principios.
                </p>
            </section>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="redes-sociales">
                <a href="https://facebook.com">Facebook</a>
                <a href="https://instagram.com">Instagram</a>
                <a href="https://www.example.com">Sitio Web</a>
            </div>
            <p>Contacto: <a href="mailto:info@automoviles.com">info@automoviles.com</a></p>
            <p>Número Suizo: +41 (0) 123 456 789</p>
            <p>Dirección: Bahnhofstrasse 25, 8001 Zúrich, Suiza</p>
            <p><a href="aviso-legal.html">Aviso legal</a></p>
        </div>
    </footer>
</body>
</html>
