<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Automóviles</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="icon" type="image/png" href="images.jpeg">
</head>
<body>
    <header>
        <div class="container">
            <h1>Productos</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/productos.html" class="active">Productos</a></li>
                    <li><a href="../views/presupuesto-1.html">Presupuestos</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section class="productos">
            <h2>Últimos Modelos</h2>
            <div class="imagen-container">
                <img src="../imagenes/images-6.jpeg" alt="Último Modelo 6">
                <img src="../imagenes/images-3.jpeg" alt="Último Modelo 3">
                <img src="../imagenes/images-2.jpeg" alt="Último Modelo 2">
                <img src="../imagenes/images-4.jpeg" alt="Último Modelo 4">
            </div>
        </section>
        <section>
            <h2>Ofertas Especiales</h2>
            <div class="imagen-container">
                <img src="../imagenes/images.jpeg" alt="Oferta Especial 1">
                <img src="../imagenes/images-5.jpeg" alt="Oferta Especial 2">
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="redes-sociales">
                <a href="https://facebook.com">Facebook</a>
                <a href="https://instagram.com">Instagram</a>
                <a href="https://www.example.com">Sitio Web</a>
            </div>
            <p>Contacto: <a href="mailto:info@automoviles.com">info@automoviles.com</a></p>
            <p>Número Suizo: +41 (0) 123 456 789</p>
            <p>Dirección: Bahnhofstrasse 25, 8001 Zúrich, Suiza</p>
            <p><a href="aviso-legal.html">Aviso legal</a></p>
        </div>
    </footer>
</body>
</html>
